.wrapper {
  padding-top: 40px;
  display: flex;
  flex-direction: column;


}

.feed-wrapper {
  overflow: none;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding-top: 20px;
  color: #191716;
  font-size: 16px;
  border-color: #0f0c19;
  grid-row-gap: 5%;
}

.ul-switcher {
  margin: 0 auto;
  max-width: 420px;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  cursor: pointer;
  position: relative;
  height: 20px;
  padding: 0;
  width: 100%;
  font-size: 18px;
  z-index: 66;
  border-bottom: solid 1px #808F87;
  padding-bottom: 3px;

}

.li-switcher {
  position: relative;
  height: 60%;
  width: 60%;
  margin: 0;
  padding: 0;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  vertical-align: middle;
  color: #7D8491 !important;
  background: #fafafa;
  text-decoration: none;
  display: grid;
  top: 0;

}

.li-switcher:hover {
  text-decoration: underline;
  color: #044B7F;


}
.switcher-active {
  text-decoration: underline;
  color: dodgerblue !important;

}


.ul-sort {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0;
  text-align: center;
  cursor: pointer;
  position: relative;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgb(3, 27, 51);
}

.li-sort {
  height: 100%;
  text-align: center;
  color: #fafafa;
  background: rgb(3, 27, 51);
  text-decoration: none;
  display: grid;
  grid-auto-rows: auto;
  border-bottom: solid 3px;
border-color: rgba(255, 255, 255, 0);
}

.isLoading {
  width: 95%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  font-size: 2em;
  border-bottom: solid;
  border-width: medium;
  border-color: #15234c;
}



.post-box-end {
  width: 95%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  border-width: medium;
  border-radius: 4px;
  text-align: center;
  font-size: 2em;
  border-color: #15234c;
  background: #fafafa;
  display: grid;
  grid-auto-rows: auto;
  box-shadow: 0 0 10px rgba(0,0,0,.5);

}

  
