
.profile-wrapper {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.profile-container {
    max-width: 350px;
    width: 85%;
    background: #fafafa;
    border-bottom: solid 0.5px rgb(143, 143, 143);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    margin: 0 auto;


}

.profile-header {
    width: 85%;
    max-width: 350px;
    padding: 10px;
    margin-top: 10px;
    height: 100%;
    font-size: 22px;
    display: grid;
    grid-template-columns: 40% 60%;  
}


.profile-avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
}

.profile-user {
    padding: 20px;
}
.profile-username {
    margin: 0;
   
}

.profile-status {
  
}

.profile-about {
    padding: 20px;
    text-align: left;
    font-size: 18px;
}

.basic-link {
    width: auto;
    color: dodgerblue;
    display: inline-block;
    background: none;
    cursor: pointer;
}

.basic-link:hover {
    color: crimson;
}

.feed-wrapper-minimal {
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 5px;
    margin: 0 auto;
    color: #0A0F0E;
    font-size: 16px;
    max-width: 350px;
}

.post-box-minimal {
    color: #0A0F0E;
    display: grid;
    grid-auto-rows: auto;
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    background: #fafafa;
    cursor: pointer;
    border: solid 0.5px rgb(143, 143, 143);

}
.post-box-minimal:hover {
    color: #0A0F0E;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.post-text-minimal {
    height: auto;
    text-align: left;
    padding: 2%;
    font-size: 18px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    white-space: pre-line;
}
.post-minimal-footer {
    display: grid; 
    grid-template-columns: 50% 50%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
   
}
.i-minimal {
    font-weight: 500;
    margin-left: 2%;
}
.post-heart-minimal {
    margin: 0;
}
