.help-wrapper {
    width: 100%;
    background: #fafafa;
    color: #191716;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.help-content {
  margin: 0 auto;

}
.help-countdown {
  text-align: center;
  font-size: 30px;
}
.msg-wrapper {
    width: 100%;
    height: 98%;
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 2%;
    align-content: end;
    overflow: auto;

  }

  .msg{
    position: relative;
    width: 40%;
    height: auto;
    background: rgb(34, 34, 173);
    color:#fafafa;
  }
  
  .msg-bot {

    width: auto;
    max-width: 70%;
    margin-left: 2%;
    height: auto;
    word-wrap: break-word;
    background: rgb(34, 34, 173);
    color:#fafafa;
    border: solid;
    border-color: rgb(34, 34, 173);
    border-radius: 8px;
    padding: 1%;
    text-align: center;

  }
  
  .msg-user {

    width: auto;
    max-width: 70%;
    margin-right: 2%;
    height: auto;
    float: right;
    word-wrap: break-word;
    background: rgb(12, 119, 12);
    color:#fafafa;
    border: solid;
    border-color: rgb(12, 119, 12);
    border-radius: 8px;
    padding: 1%;
    text-align: center;
  }


  .msg-bot-wrapper {
    
    margin-top: 2%;
    margin-left: 5%;
    position: relative;
    bottom: 10%;
    width: 90%;
    height: auto;
    display: grid;
    grid-auto-rows: auto;
    align-content: end;
    grid-gap: 10%;

  }
  .msg-user-wrapper {
    margin-top: 2%;
    margin-right: 5%;
    bottom: 5%;
    position: relative;
    width: 90%;
    height: auto;
    display: grid;
    grid-auto-rows: auto;
    align-content: end;
    grid-gap: 10%;
  }

  .load-screen {
    position: fixed;
    margin: 10%;
    color:#fafafa;
    font-size: 26px;
    z-index: 999;
    text-align: center;
}
