
.post-box {
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-width: medium;
    border-radius: 4px;
    border-color: #15234c;
    background: #fafafa;
    display: grid;
    grid-auto-rows: auto;
    box-shadow: 0 0 10px rgba(0,0,0,.5);

}



.post-options-menu-wrapper {
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 100;
    background: rgba(13, 14, 13, 0.836);
    position: fixed;
    display: flex;
    flex-direction: column;
}

.post-options-menu {
    position: relative;
    top: 25%;
    width: 80%;
    max-width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    color: #0A0F0E;
    background: #fafafa;
    font-size: 15px;
    display: inline-block;
    border-radius: 8px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.ul-post-edit {
    display: block;
    height: auto;
    background: #fafafa;
    color: #0A0F0E;
    padding: 2%;
    cursor: pointer;
    height: auto;
    border-radius: 6px;
    font-size: 26px;
    text-align: center;
    padding: 10px;

}

.li-post-edit {
    border-bottom: solid 1px silver;
    background: #fafafa;
    margin: 0;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 26px;
    color: #0A0F0E;
    text-decoration: none;
    cursor: pointer;
    text-align: center;

}

.li-post-edit:hover {
    color: crimson;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.loading-box {
    width: 95%;
    height: 70px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-bottom: solid 1px;
    border-width: medium;
    border-radius: 4px;
    border-color: #15234c;
    background-color: #fafafa;
    position: relative;
}

.loading-posts {
    margin-top: 2%;
    margin-left: 45%;
    font-size: 50px;
    position: absolute;
}

.hovering {
    background: #fafafa;
    color: #0A0F0E;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 10;
}

.post-tag {
    position: relative;
    width: 20%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 4%;
    font-size: 14px;
    cursor: pointer;
    color: #0A0F0E;
    text-align: left;
}

.post-tag:hover {
    color: dodgerblue;
}

.post-image {
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
img {
    max-width: 100%;
}


.post-header {
    width: 95%;
    height: auto;
    margin: 4%;
    font-size: 22px;
    display: grid;
    grid-template-columns: 20% 25% 20% 35%;
    grid-template-rows: 10% 10% 40% 40%;
    background: #fafafa;
}


.post-avatar {
    grid-column: 1/2;
    grid-row: 1/4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #0A0F0E;
    background: silver;

}

.post-user {
    grid-column: 2/4;
    grid-row: 1/4;
    display: grid;
    grid-auto-rows: auto;

}

.post-username {
    color: #0A0F0E;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 1%;
    font-size: 20px;
    position: relative; 
    font-weight: bold;  
    text-align: left;
    width: auto;
}

.tooltip {
    cursor: pointer;
    grid-row-start: 2;
    float: left;
    position: relative;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    border: solid 1px;
    border-color: #fafafa;
    border-radius: 8px;
    font-size: 12px;
}

.tooltip  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #0A0F0E;
    color: #fafafa;
    text-align: center;
    padding: 5px 0;
    border-radius: 12px;
    top: 100%;
    left: 50%; 
    margin-left: -60px; 
 
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.post-title {
    font-size: 20px;
    padding: 2%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    white-space: pre-line;

}

.post-text {
    height: auto;
    padding: 2%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
    font-size: 18px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    white-space: pre-line;
  

}

.post-link {
    display: inline;
    background: #fafafa;
    color: #0A0F0E;
    text-align: right;
    border: none;
    text-decoration: underline;
}

.post-date {
    grid-column: 4/4;
    grid-row: 1/1;
    font-size: 15px;
    position: relative;
    text-align: right;
    padding-right: 10px;
}

.post-options {
    font-size: 22px;
    position: relative;
    height: 100%;
    width: 100%;
}


.post-edit-text {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.post-footer {
    padding: 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    font-size: 18px;
    display: grid;
    text-align: center;
    grid-template-columns: 50% 50%;
}

.post-likes {
    padding: 1%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: left;  

}

.post-heart {
    font-size: 20px;  
}

.post-likes-text {
    text-align: left;
    display: inline-block;
    font-size: 18px;
    position: relative;
    bottom: 0;
}

.p-likes {
    margin: 0;
    padding: 0;
}

.post-comment-list {
    padding: 1%;
    width: 100%;
    text-align: left;
    font-size: 18px;
    position: relative;      
}
.post-comment-list:hover {
    color: dodgerblue;
    cursor: pointer;
}



.post-edit {
    margin-left: 30%;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 6px;
}

.show-more {
    color: rgb(24, 111, 197);
}

.post-options-wrapper {
    position: fixed;
    top: 5%;
    background: rgba(22, 21, 21, 0.596);
    height: 100%;
    width: 100%;
    z-index: 20;
}

.delete-dialog {
    position: absolute;
    top: 25%;
    width: 75%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    background: #273333;
    border-radius: 12px;
    text-align: center;
    font-size: 30px;
    z-index: 25;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.buttons-post-box {
    padding-top: 15px;
    font-size: 24px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.button-default {
    color: #fafafa;
    margin: 0 auto;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 16px;
    border: solid 1px dodgerblue;
    background: dodgerblue;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.button-default:hover {
    color: #fafafa;
    background: rgb(16, 104, 192);
    border-radius: 16px;
    border: solid 1px dodgerblue;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    cursor: pointer;
}

.button-post {
    cursor: pointer;
    color: #0A0F0E;
    background: #fafafa;
}

.button-post:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.warning-red {
    background: crimson;
    border-color: crimson;
    color: #fafafa;
}

.warning-red:hover {
    background: maroon;
    border-color: maroon;
}

.grey {
    background: gray;
    border-color: grey;
}

.grey:hover {
    background: rgb(94, 93, 93);
    border-color: rgb(82, 80, 80);
}

.half {
    width: 50%;
}

.username-empty {
    border-radius: 4px;
    width: 60px;
    height: 16px;
    color: #fafafa;
	background: linear-gradient(45deg, rgb(177, 175, 175), rgb(131, 128, 129), rgb(73, 74, 75), rgb(52, 53, 52));
	background-size: 400% 400%;
    -webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
}




.date-empty {
    border-radius: 4px;
    width: 100px;
    height: 16px;
    color: #fafafa;
	background: linear-gradient(45deg, rgb(177, 175, 175), rgb(131, 128, 129), rgb(73, 74, 75), rgb(52, 53, 52));
	background-size: 400% 400%;
    -webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
}

.text-empty {
    border-radius: 4px;
    width: 90%;
    height: 18px;
    color: #fafafa;
	background: linear-gradient(45deg, rgb(177, 175, 175), rgb(131, 128, 129), rgb(73, 74, 75), rgb(52, 53, 52));
	background-size: 400% 400%;
    -webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
}



@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

