.post-box {
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-bottom: solid 1px;
    border-width: medium;
    border-radius: 4px;
    border-color: #15234c;
    background-color: #0f0c19;
    display: grid;
    grid-auto-rows: auto;
}

.loading-box {
    width: 95%;
    height: 70px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-bottom: solid 1px;
    border-width: medium;
    border-radius: 4px;
    border-color: #15234c;
    background-color: #0f0c19;
    position: relative;
}

.loading-posts {
    margin-top: 2%;
    margin-left: 45%;
    font-size: 50px;
    position: absolute;
}

.hovering {
    background: #262626;
    color:#fafafa;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 10;
}

.post-tag {
    position: relative;
    width: 20%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 4%;
    font-size: 14px;
    cursor: pointer;
}

.post-tag:hover {
    color: dodgerblue;
}

.post-image {
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
img {
    max-width: 100%;
}


.post-header {
    width: 95%;
    height: auto;
    margin: 4%;
    font-size: 22px;
    display: grid;
    grid-template-columns: 20% 25% 20% 35%;
    grid-template-rows: 10% 10% 40% 40%;
    background: #0f0c19;
}


.post-avatar {
    grid-column: 1/2;
    grid-row: 1/4;
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.post-user {
    grid-column: 2/4;
    grid-row: 1/4;
    display: grid;
    grid-auto-rows: auto;
}

.post-username {
    background: #0f0c19;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 1%;
    font-size: 22px;
    position: relative; 
    font-weight: bold;   
    text-align: left;
}

.tooltip {
    cursor: pointer;
    grid-row-start: 2;
    float: left;
    position: relative;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    border: solid 1px;
    border-color:#fafafa;
    border-radius: 8px;
    font-size: 12px;
}

.tooltip  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #262626;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 12px;
    top: 100%;
    left: 50%; 
    margin-left: -60px; 
 
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.post-text {
    height: auto;
    padding: 2%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
    font-size: 18px;
    word-wrap: break-word;    
    background: #0f0c19;
   #fafafa-space: pre-line;
}

.post-date {
    grid-column: 4/4;
    grid-row: 1/1;
    font-size: 15px;
    position: relative;
    text-align: right;
}

.post-options {
    font-size: 22px;
    position: relative;
    height: 100%;
    width: 100%;
}


.ul-post-edit {
    position: absolute;
    height: auto;
    right: 0;
    width: 140%;
    display: inline-block;

    z-index: 15;
}

.li-post-edit {
    float: right;
    margin: 0;
    padding-left: 6%;
    font-size: 16px;
    color:#fafafa;
    text-decoration: none;
    cursor: pointer;
}

.li-post-edit:hover {
    color: crimson;
}

.post-edit-text {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.post-footer {
    padding: 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    font-size: 18px;
    display: grid;
    text-align: center;
    grid-template-columns: 30% 40% 30%;
}

.post-likes {
    padding: 1%;
    width: 60%;
    text-align: center;
    font-size: 16px;
    display: grid;
    grid-template-columns: 30% 70%;
    position: relative;    
}

.post-heart {
    margin-left: 15%;
    width: 20%;
    font-size: 16px;  
    position: relative;    
}

.post-likes-text {
    display: inline-block;
    margin-left: 5%;
    width: 65%;
    font-size: 16px;
    position: relative;    
}

.p-likes {
    float: left;
    margin: 0;
    padding: 0;
}

.post-comment-list {
    width: 60%;
    text-align: center;
    font-size: 16px;
    position: relative;      
}
.post-comment-list:hover {
    color: dodgerblue;
    cursor: pointer;
    text-decoration: underline;
}

.post-likes-text:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post-edit {
    margin-left: 30%;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 6px;
}

.show-more {
    color: rgb(71, 160, 248);
}

.post-options-wrapper {
    position: fixed;
    top: 5%;
    background: rgba(22, 21, 21, 0.596);
    height: 100%;
    width: 100%;
    z-index: 20;
}

.delete-dialog {
    position: absolute;
    top: 25%;
    width: 75%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    background: #273333;
    border-radius: 12px;
    text-align: center;
    z-index: 25;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.button-post {
    margin: 3%;
    padding-left: 2%;
    padding-right: 2%;
    width: auto;
    font-size: 22px;
    border-radius: 12px;
    background: #20722C;
    border-color: #2D3A3A;
    cursor: pointer;
}

.button-post:hover {
    background: rgb(2, 34, 7);
    border-color: #2D3A3A;
}

.delete-post {
    background: crimson;
    border-color: maroon;
}

.username-empty {
    border-radius: 4px;
    width: 60px;
    height: 16px;
    color: #fff;
	background: linear-gradient(45deg, rgb(177, 175, 175), rgb(131, 128, 129), rgb(73, 74, 75), rgb(52, 53, 52));
	background-size: 400% 400%;
    -webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
}




.date-empty {
    border-radius: 4px;
    width: 100px;
    height: 16px;
    color: #fff;
	background: linear-gradient(45deg, rgb(177, 175, 175), rgb(131, 128, 129), rgb(73, 74, 75), rgb(52, 53, 52));
	background-size: 400% 400%;
    -webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
}

.text-empty {
    border-radius: 4px;
    width: 90%;
    height: 18px;
    color: #fff;
	background: linear-gradient(45deg, rgb(177, 175, 175), rgb(131, 128, 129), rgb(73, 74, 75), rgb(52, 53, 52));
	background-size: 400% 400%;
    -webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
}



@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
