.signing-box {
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: solid;
    border-width: medium;
    border-color: #15234c;
    display: grid;
    grid-auto-rows: auto;
}

.sign-text {
    margin: 2%;
   
}

.sign-link {
    width: auto;
    color: dodgerblue;
    display: inline-block;
    background: none;
}