
.input-box {
    margin-bottom: 1%;
    width: 100%;
    padding: 0;
    color: #191716;
    font-size: 15px;
    display: inline-block;
    position: relative;
    border-color: rgb(11, 4, 49);
}

.post-input {
    display: block;
}

.post-input-expanded {
    display: block;
    height: 100%;
    padding-bottom: 15px;
}

.post-input {
    display: block;
    height: 100%;
}

.post-input-small {
    display: grid;
    grid-template-columns: 90% 15%;
    width: 90%;
    font-size: 15px;
    word-wrap: break-word;
    background: #fafafa;
    color: #0A0F0E;
    font-family: Liberation Serif;
    border-color: dodgerblue;
    border-radius: 4px;
    resize: none;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 5px;
}


.input-wrapper-expanded {
    width: 100%;
    height: 100vh;
    z-index: 80;
    background: rgba(13, 14, 13, 0.836);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.input-box-expanded {
    margin: 0 auto;
    margin-top: 100px;
    width: 95%;
    max-width: 550px;
    color: #0A0F0E;
    background: #fafafa;
    font-size: 15px;
    display: inline-block;
    border-radius: 8px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,.5);

}   
.input-box-footer-expanded {
    display: grid;
    grid-template-columns: 35%, 35%, 30%;
}

.input-footer {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: inline-block;
    height: 100%;

}

.tag-list {
    float: left;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 4%;

}
.tag-name {
    float: left;
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 2px;
    display: block;
    border: solid 1px #262626;
    text-align: left;
    border-radius: 8px;
    cursor: pointer;
    height: 14px; 
}

.tag-active {
    background: dodgerblue;
    border-color: dodgerblue;
    color: #fafafa;
}

.button-input {
    font-size: 20px;
    text-align: center;
}

.button-image {
    background: #fafafa;
    color: #353436;
    margin-right: 2px;
    font-size: 20px;

}



@media (max-width: 599px) {
    .input-box-expanded {
        margin: 0 auto;
        padding-top: 40px;
        width: 100%;
        max-width: 550px;
        color: #0A0F0E;
        background: #fafafa;
        font-size: 15px;
        display: inline-block;
        border-radius: 8px;
        z-index: 10;
        box-shadow: 0 0 10px rgba(0,0,0,.5);
    
    }   
}

form {
    margin: 0;
}

input[type=textarea] {
    margin: 3%;
    padding: 1%;
    width: 90%;
    background: #fafafa;
    border: solid 2px;
    border-color: dodgerblue;
    border: solid;
    border-radius: 12px;
    border-color: dodgerblue;

}

input[type="submit"] {
    background: #fafafa;
    border-color: dodgerblue;
    border-radius: 12px;
}

.input-box-expanded-warning {
    text-align: right;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.textarea-post {
    width: 95%;
    font-size: 15px;
    word-wrap: break-word; 
    background: #fafafa;
    color: #0A0F0E;
    font-family: Liberation Serif;
    border: solid 2px;
    border-color: dodgerblue;
    border-radius: 4px;
    resize: none;
    margin-left: 5%;
    margin-right: 5%;
}

.textarea-expanded {
        width: 90%;
        font-size: 15px;
        word-wrap: break-word; 
        background: #fafafa;
        color: #0A0F0E;
        font-family: Liberation Serif;
        border-color: dodgerblue;
        border-radius: 4px;
        resize: none;
        margin-top: 2%;
        margin-left: 4%;
        margin-right: 4%;
        padding-top: 5px;

}

textarea:focus {
    box-shadow: 0 0 3pt 2pt rgb(61, 33, 216);
    outline: 0;
}

.comment-disabled:focus {
    box-shadow: none;
    outline: none;
    color: transparent;
}

.fa-location-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-post {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sendingIcon {
    padding-left: 3%;
    position: relative;
    font-size: 20px;
    text-align: center;
}



.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

}

.fa-times {
    font-size: 20px;
    position: relative;
    padding-top: 10px;
    padding-left: 35px;
    float: right;
}

.ul-post-options {
    float: right;
    height: auto;
    padding: 0;
    margin: 0;
    font-size: 14px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.li-expand-icon {
    padding: 2%;
    text-align: center;
    color: #0A0F0E;
    text-decoration: none;
    display: grid;
    grid-auto-rows: auto;
    font-size: 24px;
    border-radius: 6px;
    cursor: pointer;
}

.li-expand-icon:hover {
    background: crimson;
}

.paper-plane-expanded {
}


.li-expand-icon-long {
    background: dodgerblue;
    border-color: dodgerblue;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    color: #0A0F0E;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
}

.li-expand-icon-long:hover {
    background: crimson;
    border-color: crimson;

}

.report-radio-wrapper {
    display: block;
    position: relative;
    margin-top: 8%;
    padding-left: 10%;
    margin-bottom: 2%;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.report-radio-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.check-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.report-radio-wrapper:hover input ~ .check-radio {
    background-color: #ccc;
}

.report-radio-wrapper input:checked ~ .check-radio {
    background-color: #2196F3;
}

.check-radio:after {
    content: "";
    position: absolute;
    display: none;
}

.report-radio-wrapper  input:checked ~ .check-radio:after {
    display: block;
}

.report-radio-wrapper  .check-radio:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background:#fafafa;
}


i {
    cursor: pointer;
}

.tags-box {
    position: relative;
}
.ul-tags {
    font-size: 18px;
    margin-top: 10px;
    position: fixed;
    height: auto;
    padding: 0;
    display: inline-block;
    z-index: 15;

    
}

.li-tags {
    display: block; 
    text-align: center;
    background: #fafafa;
    width: 100%;
    color: #0A0F0E;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    width: auto;

    cursor: pointer;
}



.li-tags:hover {
    background: #2D3A3A;
}

.options-text {
    padding: 0;
    margin: 0;
    font-size: 16px;
    height: 18px;
}

p {
    margin: 0;
}

input[type="file" i] {
    color:#fafafa;
    background: #0A0F0E;
    cursor: pointer;

}
label {
    cursor: pointer;

}
input[type="file"] {
    color:#fafafa;
    background: #0A0F0E;
    cursor: pointer;

   
}
.image-upload > input
{
    display: none;
}
