.input-box {
    margin-bottom: 1%;
    width: 100%;
    padding: 0;
    color: rgb(212, 207, 207);
    background: rgb(22, 21, 21);
    font-size: 15px;
    display: inline-block;
    position: relative;
    border-color: rgb(11, 4, 49);
}

.post-input {
    background: rgb(22, 21, 21);
    display: grid;
    grid-template-columns: 90% 10%;
}

.post-input-expanded {
    background: #02182B;
    display: block;
}

.input-wrapper-expanded {
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(22, 21, 21, 0.719);
    position: fixed;
}

.input-box-expanded {
    margin-top: 35%;
    margin-left: 5%;
    margin-right: 5%;
    width: 86%;
    padding: 2%;
    color: rgb(212, 207, 207);
    background: #02182B;
    font-size: 15px;
    display: inline-block;
    border-color: rgb(11, 4, 49);
    border-radius: 8px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,.5);

}   
.input-box-footer-expanded {
    display: grid;
    grid-template-columns: 35%, 35%, 30%;
}

form {
    margin: 0;
}

input[type=textarea] {
    margin: 3%;
    padding: 1%;
    width: 90%;
    background: rgb(22, 21, 21);
    border: solid;
    border-color: dodgerblue;
    border: solid;
    border-radius: 12px;
    border-color: dodgerblue;

}

input[type="submit"] {
    background: rgb(22, 21, 21);
    border-color: dodgerblue;
    border-radius: 12px;
}

.input-box-expanded-warning {
    text-align: right;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.textarea-post {
    width: 95%;
    font-size: 15px;
    word-wrap: break-word; 
    background: rgb(22, 21, 21);
    color:#fafafa;
    font-family: Liberation Serif;
    border-color: dodgerblue;
    border-radius: 4px;
    resize: none;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.textarea-expanded {
        width: 90%;
        font-size: 15px;
        word-wrap: break-word; 
        background: rgb(22, 21, 21);
        color:#fafafa;
        font-family: Liberation Serif;
        border-color: dodgerblue;
        border-radius: 4px;
        resize: none;
        margin-top: 2%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2%;
}

textarea:focus {
    box-shadow: 0 0 3pt 2pt rgb(61, 33, 216);
    outline: 0;
}

.comment-disabled:focus {
    box-shadow: none;
    outline: none;
    color: transparent;
}

.fa-location-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-post {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sendingIcon {
    padding: 2%;
    position: relative;
    font-size: 26px;
    text-align: center;
}



.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

}

.fa-times {
    font-size: 20px;
    position: relative;
    padding: 2%;
    float: right;
}

.ul-post-options {
    position: relative;
    height: auto;
    padding: 0;
    width: 100%;
    font-size: 14px;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-column-gap: 2%;
    overflow: hidden;
}

.li-expand-icon {
    padding: 2%;
    text-align: center;
    color:#fafafa;
    text-decoration: none;
    display: grid;
    grid-auto-rows: auto;
    font-size: 24px;
    border-radius: 6px;
    cursor: pointer;
}

.li-expand-icon:hover {
    background: crimson;
}

.paper-plane-expanded {
}


.li-expand-icon-long {
    background: dodgerblue;
    border-color: dodgerblue;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    color:#fafafa;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
}

.li-expand-icon-long:hover {
    background: crimson;
    border-color: crimson;

}

.report-radio-wrapper {
    display: block;
    position: relative;
    margin-top: 8%;
    padding-left: 10%;
    margin-bottom: 2%;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.report-radio-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.check-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.report-radio-wrapper:hover input ~ .check-radio {
    background-color: #ccc;
}

.report-radio-wrapper input:checked ~ .check-radio {
    background-color: #2196F3;
}

.check-radio:after {
    content: "";
    position: absolute;
    display: none;
}

.report-radio-wrapper  input:checked ~ .check-radio:after {
    display: block;
}

.report-radio-wrapper  .check-radio:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background:#fafafa;
}


i {
    cursor: pointer;
}

.tags-box {
    position: relative;
}

.ul-tags {
    margin-top: 8%;
    position: fixed;
    height: auto;
    padding: 0;
    width: auto;
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 6px;
    z-index: 15;
    
}

.li-tags {
    font-size: 18px;
    padding: 2%;
    height: 100%;
    text-align: center;
    color:#fafafa;
    text-decoration: none;
    display: grid;
    grid-auto-rows: auto;
    border-radius: 8px;
    border: solid 1px;
    background: #20722C;
    border-color: rgb(3, 54, 31);
    cursor: pointer;
}

.li-tags:hover {
    background: #2D3A3A;
}

.options-text {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

p {
    margin: 0;
}

input[type="file" i] {
    color:#fafafa;
    background: #262626;
}

input[type="file"] {
    color:#fafafa;
    background: #262626;
   
}
.image-upload > input
{
    display: none;
}
@media (min-width: 600px) {
    .input-box {
        margin-top: 2.5%;
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
        padding: 0;
        color:#fafafa;
        background: rgb(11, 4, 49);
        font-size: 15px;
        display: inline-block;
        position: relative;
        border: solid;
        border-radius: 12px;
        border-color: rgb(11, 4, 49);
    }
    
    form {
        margin: 0;
        display: grid;
        grid-template-columns: 80% 20%;
    }

}