.intro-wrapper {
    padding-top: 10px;
    width: 100%;
    color: #353436;
    font-size: 18px;
    display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;

}

.intro-body {
    padding-bottom: 90px;

}

.title-container {
    max-width: 450px;
    margin: 0 auto;
    width: 80%;
    padding: 0;
}

.main-title {
    font-size: 60px;
}


.changelog {
    color: #353436;
    max-width: 450px;
    margin: 0 auto;
    border-width: medium;
    border-radius: 4px;
    text-align: center;
    padding: 0;
    width: 100%;

}

.li-changelog {
   display: block;

}

.changelog-header {
    width: 80%;
    display: grid;
    grid-template-columns: 60% 30%;
    margin: 0 auto;

}

.changelog-name {
    font-weight: bold;

}

.changelog-time {
    font-weight: 200;
}

.changelog-content {
    padding-top: 5px;
    text-align: left;
    width: 80%;
    margin: 0 auto;

}

.footer-wrapper {
    margin: 0 auto;
    padding: 0;
    color: #fafafa;
    background: #262626;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;



}

.footer {
    position: relative;
    bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 0;

}