.navbar-mobile {
  padding-top: 3px;
  height: 30px;
  color: #353436;
  background: #F7F7F7;
  width: 100vw;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: solid 1.1px silver;
  -webkit-transform: none !important;
  -moz-transform: none !important;

}

.navbar-desktop {
  height: 40px;
  color: #353436;
  background: #F7F7F7;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.navbar-mobile:hover {
  color: rgb(9, 100, 192);
}

.active {
  color: rgb(9, 100, 192);
}


@media (max-width: 599px) {

.ul-navbar {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 2px;
  padding-bottom: 0;
  width: 100%;
  display: grid;
  font-size: 14px;
  grid-template-columns: 25% 25% 25% 25%;
  z-index: 999;

}

.li-navbar {
  display: block;
  text-align: center;
  text-decoration: none;
  border-bottom: solid 3px;
  border-color: rgba(255, 255, 255, 0);
}

.ul-navbar-dropdown {
  padding: 0;
  margin: 0 auto;
  margin-top: 35%;
  width: 80%;
  background: #fafafa;
  display: grid;
  font-size: 20px;
  grid-auto-rows: auto;
  grid-row-gap: 4%;
  z-index: 30;
  box-shadow: 0 0 10px rgba(0,0,0,.5);

}

.li-navbar-icons {
  height: auto;
    text-align: center;
    text-decoration: none;
    display: grid;
    grid-auto-rows: auto;
    border-bottom: solid 3px;
    border-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}
.li-navbar-icons:hover {
  color: rgb(9, 100, 192);
  
}

.navlink-notifications {
  display: inline-block;
  width: 100%;
}

.navbar-icon {
  text-align: middle;
  vertical-align: middle;
  font-size: 20px;
  display: inline-block;
}

.new-notifications {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: red;
  position: absolute;
  top: 5%;
  float: right;
  right: 32%;
}


.li-circle {
  float: right;
  position: absolute;
  display: inline-block;
  margin: 0;
  height: 80%;
  width: 18px;
  border-radius: 50%;
  padding: 1%;
  text-align: center;
  background: crimson;
  z-index: 10;
}

a {
  height: auto;
  text-align: center;
  color: #353436;
  text-decoration: none;
  display: grid;

  grid-auto-rows: auto;
  border-bottom: solid 3px;
  border-color: rgba(255, 255, 255, 0);
}

a:hover {
  color: rgb(9, 100, 192);
}

.navbar-text {
  margin: 6%;
}

.navbar-link {
  height: 100%;
  text-align: center;
  color: #fafafa;
  background: rgb(3, 27, 51);
  text-decoration: none;
  display: grid;
  grid-auto-rows: auto;
  border-color: rgba(255, 255, 255, 0);
}

a:hover {
  border-radius: 2px;
}

.test {
  cursor: pointer;
  background: rgb(11, 103, 194);
  border-bottom: solid 3px;
  border-color:#fafafa;
}

button {
  padding: 1%;
  text-align: center;
  color: #fafafa;
  border: solid 2px;
  border-radius: 12px;
  border-color: dodgerblue;
  background: #262626;
}

}
@media (min-width: 600px) {
  
  
  .ul-navbar {
    padding: 0;
    padding-top: 5px;
    margin-right: 5%;
    font-size: 16px;
    display: inline-block;
    margin: 0 auto;

    }
  

  .li-navbar {
    float: left;
    display: block;
    text-align: left;
    margin-left: 10px;
    color: #fafafa;
    text-decoration: none;
    border-bottom: solid 3px;
    border-color: rgba(255, 255, 255, 0);
    width: auto;

  }

  .navbar-link-button {
    width: auto;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-right: 10px;
  }

  .li-navbar-icons {
    height: auto;
    width: auto;

      text-align: left;
      color: #fafafa;
      text-decoration: none;
      border-bottom: solid 3px;
      border-color: rgba(255, 255, 255, 0);
      cursor: pointer;
  }
  
  .navbar-icon {
    font-size: 16px;
    margin-right: 10px;
    width: auto;
    display: inline-block;

  }

  .new-notifications {
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: red;
    position: absolute;
    top: 0;
    right: 0;
  }
  

  .navbar-link-text {
    width: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;

  }

  a {
    height: auto;
    text-align: center;
    color: #353436;
    text-decoration: none;
    
    border-bottom: solid 3px;
    border-color: rgba(255, 255, 255, 0);
  }

  .navbar-dropdown {
      position: relative;
  }
  
  .ul-navbar-dropdown {
    position: absolute;
    height: auto;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5%;
    padding-bottom: 0;
    background: #fafafa;
    display: grid;
    font-size: 20px;
    grid-auto-rows: auto;
    grid-row-gap: 4%;
    z-index: 30;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
  
  }
  
  .li-navbar-dropdown {
    display: block; 
    
   
  }
  .link-dropdown {
      padding: 2%;
      display: block; 
      text-align: center;
      background: #fafafa;
      color: #0A0F0E;
      text-decoration: none;
      cursor: pointer;
    }
  .link-dropdown:hover {
      color: #fafafa;
      background: #0A0F0E
  }
    
  .li-notifications {
    position: relative;
  }
  
  .li-navbar-icons:hover {
    color: rgb(182, 21, 21);
  }
  
  .navlink-notifications {
    display: inline-block;
    width: 100%;
  }
  


  .li-circle {
    float: right;
    position: absolute;
    display: inline-block;
    margin: 0;
    height: 80%;
    width: 18px;
    border-radius: 50%;
    padding: 1%;
    text-align: center;
    background: crimson;
    z-index: 10;
  }
  
  
  a:hover {
    color: #353436;
    
  }
  
  .navbar-text {
    margin: 6%;
  }
  
  .navbar-link {
    height: 100%;
    text-align: center;
    color: #fafafa;
    background: rgb(3, 27, 51);
    text-decoration: none;
    display: grid;
    grid-auto-rows: auto;
    border-color: rgba(255, 255, 255, 0);
  }
  
  a:hover {
    border-radius: 2px;

  }
  
  .test {
    cursor: pointer;
    background: rgb(11, 103, 194);
    border-bottom: solid 3px;
    border-color:#fafafa;
  }
  
  button {
    padding: 1%;
    text-align: center;
    color: #fafafa;
    border: solid 2px;
    border-radius: 12px;
    border-color: dodgerblue;
    background: #262626;
  }


  
}
