.notifications-wrapper {
  width: 100%;
  padding-top: 40px;
  margin: 0;
  background: #fafafa;
  color:#fafafa;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.notifications-wrapper-header {
  background: #fafafa;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

@media (max-width: 599px) {

.notifications-wrapper-header {
  background: #fafafa;
  width: 100%;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
}
}
.notifications {
  padding: 0;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.post-wrapper {
  padding-top: 30px;
  color: #0a0f0e;
  font-size: 16px;
}
.loading-notifications {
  padding: 5%;
  font-size: 25px;
  color: #0a0f0e;
}
.notification-box {
  padding: 1%;
  padding-top: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #0a0f0e;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background: #fafafa;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-auto-rows: auto;
  border-radius: 6px;
  border: solid 1px silver;
}

.notification-box:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: #0a0f0e;
  font-weight: bold;
}

.view-false {
  background: #ff5964;
}

.view-true {
  background: #F7F2F3;
}

.notification-avatar {
  padding: 2%;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 1 / 1;
  text-align: left;
}

.notification-text {
  grid-row: 2;
  grid-column: 2 / 3;
  text-align: left;
  padding-left: 4%;
  font-size: 18px;
}

.notification-header {
  grid-row: 1;
  grid-column: 1 / 3;
  text-align: right;
  font-size: 12px;
  width: 96%;
}

.img-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.title-text {
  text-align: center;
}

.signing-box {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.2em;
  display: block;
}

.basic-link {
  width: auto;
  color: dodgerblue;
  display: inline-block;
  background: none;
  cursor: pointer;
}

.basic-link:hover {
  color: crimson;
}





.button-notifications {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 6px;
  padding: 1%;
  background: #fafafa;
  color: #0a0f0e;
  cursor: pointer;
}

.align-left {
  text-align: left;
  
}

.align-right {
  text-align: right;
}

.link-big {
  font-size: 20px;
  font-weight: 900;
  color: dodgerblue;
}
.link-big:hover {
  color: #044B7F;
}
.clear-notifications:hover {
  color: maroon;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.notifications-empty {
  padding: 25%;
  color: #0a0f0e;
  font-size: 28px;
}
