.signing-box {
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: solid;
    border-width: medium;
    border-color: #15234c;
    display: grid;
    grid-auto-rows: auto;
}

.sign-text {
    height: auto;
    padding: 2%;
    margin: 4%;
    font-size: 18px;
    word-wrap: break-word;    
    background: #0f0c19;
}

