

form {
    margin: 0;

}



input[type="submit"] {
    background: #262626;
    border-color: dodgerblue;
    border-radius: 12px;
    color:#fafafa;
}

.textarea-edit {
    width: 100%;
    font-size: 18px;
    word-wrap: break-word; 
    background: #fafafa;
    color: #0A0F0E;
    resize: none;
    font-family: Liberation Serif;
    border-color: #262626;
    border: solid 1px;
    border-radius: 6px;
    border-color: dodgerblue;
}