.register-wrapper {
    display: flex;
    flex-direction: column;
}
.register-box {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 22px;
  background: #fafafa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.warning-text {
  padding: 4px;
  text-align: center;
  width: 100%;
  font-size: 16px;
  display: block;
  color: #c40404;
  height: 16px;
}

.register-label {
  padding: 1%;
  text-align: center;
  display: grid;
  grid-auto-rows: auto;
  grid-row-gap: 10%;
}
.register-label-row {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 1%;
  text-align: center;
  display: grid;
  grid-template-columns: 70% 30%;
}
.register-input-small {
  float: right;
  width: 10%;
  font-size: 18px;
  border-radius: 4px;
  border-color: dodgerblue;
}
.register-input {
  float: right;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  font-size: 18px;
  border-radius: 4px;
  border-color: dodgerblue;
}

.warning-input {
  box-shadow: 0 0 3pt 2pt rgb(201, 8, 24);
  outline: 0;
  border-color: rgb(182, 12, 49);
}

.warning-input:focus {
  box-shadow: 0 0 3pt 2pt rgb(201, 8, 24);
  outline: 0;
}

.button-long {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  font-size: 22px;
  border-radius: 6px;
  border-color: #39b235;
  background: #39b235;
  cursor: pointer;
}

.label-dates {
  display: grid;
  grid-template-columns: 32% 32% 32%;
}
.register-input-small {
  text-align: center;
  width: 90%;
  border-radius: 4px;
  border-color: dodgerblue;
}

.icon-waiting-long {
  background: #0a0f0e;
  border-radius: 12px;
  padding: 2%;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

.exsubmit {
  padding: 3%;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 1.2em;
  background: dodgerblue;
  border: none;
  border-radius: 12px;
  color:#fafafa;
}

.register-box-small {
  font-size: 17px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;

}

.top-title {
  text-align: center;
  margin: 10px;
}

.hidden-text {
  color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
}

.hidden-text:hover {
  color: rgba(0, 0, 0, 0);
}

.inside {
  position: absolute;
  color: #fafafa;
  margin: 0 auto;
  align-self: center;
}

@media (min-width: 600px) {
  .register-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
}