
.comments-wrapper {
    margin: 0;
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: #fafafa;
    color: #191716;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 5% 95%;
    grid-row-gap: 4px;
    font-size: 14px;
}


.dashed-div {
    color: #808F87;
    width: 100%;
    border-top: dashed 2px;
    height: auto;
    font-size: 20px;
    font-weight: bold;
}


.comments-box {
    position: relative;
    height: auto;
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background: #fafafa;
    display: grid;
    grid-auto-rows: auto;
    
}

.comment-header {
    width: 95%;
    height: auto;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 0;
    font-size: 18px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.comment-user {
  float: left;
   
}

.post-options-comment {
    height: 100%;
    font-size: 18px !important;

}


.comment-text {
    height: auto;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    white-space: pre-line;
  
}


.show-more {
    display: inline-block;
    cursor: pointer;
}

.show-more:hover {
    text-decoration: underline;
    color: rgb(165, 165, 165);
}

.comment-date {

    position: relative;
    text-align: right;        
}

.comment-menu {
    overflow: hidden;
    text-align: right;   
    display: inline-block;
    width: auto;
}

.float-right {
    float: right;
    padding-left: 5px;
    font-size: 18px !important;

}

.sub-comment {
    background: #fafafa;
}

.vertical-line {
    color: #808F87;
    border-right: solid 1.5px;
    height: 100%;
    margin: auto;
}

.comment-list {
    text-align: left;
    position: relative;
    font-size: 18px !important;

}