
html,body {
    height:100%;
}

body {
    background: #fafafa;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #0A0F0E;
    font-size: 14px;
  }

#root  {
    height:100%;
}


.react-container {
    height:100%;

}
/* width */
    ::-webkit-scrollbar {
      width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px rgb(32, 32, 32); 
      border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: rgb(15, 15, 15); 
      border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #262626; 
  }


@media (max-width: 599px) {

::-webkit-scrollbar {
    width: 0px;
}

}



@media (min-width: 600px) {

.active {
    border-bottom: solid 2px;
}

}