.login-wrapper {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}
form {
    margin: 0;
   
}

.login-box {
    margin: 0 auto;
    max-width: 350px;
    width: 80%;
    font-size: 1.2em;
    border-radius: 8px;
    background: #fafafa;
    font-size: 1.2em;
    border-radius: 8px;
    background: #fafafa;
    padding: 2%;

}

.login-label {
    padding: 2%;
    display: grid;
    grid-auto-rows: auto;
    text-align: center;
}

.login-input {
    float: right;
    padding: 1%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    border-radius: 4px;
    border-color: dodgerblue;
}

.button-wrapper {
    width: 100%;
    font-size: 22px;
}

.btn-submit {
    background: #262626;
    border-color: #262626;
    border-radius: 12px;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    margin: 0 auto;
    color:#fafafa;
    cursor: pointer;

}

input[type="submit"] {
    background: #262626;
    border-color: #262626;
    border-radius: 12px;
    padding: 2%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    color:#fafafa;
    cursor: pointer;

}

.login-warning {
    padding: 5%;
    text-align: center;
    font-size: 22px;

}
