@media (max-width: 600px) {
    .settings-wrapper {
    font-size: 22px;
    text-align: center;
    color: #0A0F0E;
    display: flex;
    flex-direction: column;
    background: #fafafa;
}
.settings-grid {
    padding-top: 60px;

}
.settings-buttons {
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 2%;
    max-width: 200px;
    margin: 0 auto;

}

.settings-box {
   
    color: #0A0F0E;
    display: grid;
    grid-auto-rows: auto;
    padding: 2%;
    background: #fafafa;
    cursor: pointer;
    height: auto;
    border-bottom: 1px solid silver;

}

.settings-box:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.5);

}
.settings-box a {
    color: #0A0F0E;
}

.signing-box {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.2em;
    display: block;
}

.basic-link {
    width: auto;
    color: dodgerblue;
    display: inline-block;
    background: none;
    cursor: pointer;
}

.basic-link:hover {
    color: crimson;
}

.settings-list-wrapper {
    width: 100%;
    left: 0;
    top: 0;
    height: 80%;
    z-index: 10;
    background: #fafafa;
    position: absolute;
    padding-top: 30px;

}

.settings-list-box {
    position: relative;
    width: 100%;
    color: #0A0F0E;
    background: #fafafa;
    font-size: 28px;
    display: inline-block;
    border-radius: 8px;
    z-index: 10;
}

.settings-header {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 20% 80%;
    border-bottom: solid 1px silver;
    text-align: center;
    font-size: 20px;
}

.button-back {
    float: left;
}

.settings-title {
    margin-right: 20%;
}

.settings-label {
    
}

.settings-account-label {
   
}
.small-text {
    text-align: left;
    font-size: 14px;
    margin: 4px;
}
.settings-input {
    color: #0A0F0E;
    display: block;
    width: 60%;
    background: #fafafa;
    border-color: #fafafa;
    border-bottom: solid 1px #0A0F0E; 
    font-size: 18px;
    text-align: center;
    outline: none;
    margin: 0;
  }
  
  .settings-input:focus {
    border-color: #fafafa;
    border-bottom: solid 1px #0A0F0E; 

  }
  .settings-input:hover .settings-input-content {
    display: block;
    outline: none;

  }
  .settings-input-content:focus {
    border-color: #fafafa;
    outline: none;

  }

  .settings-input-content {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    background: #272727;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    color: #fafafa;
    outline: none;

  }

.settings-footer {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 2px;
}

.label-minimal {
    margin-top: 10px;
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 10px;
    text-align: center;
    padding: 1%;
    
}

.prompt-minimal {
    float: right;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    font-size: 18px;
    background: #fafafa;
    border: none;
    border-bottom: solid 1px #0A0F0E;
    color: #0A0F0E;
    display: block;
    outline: none;

}
.label-minimal:hover .label-minimal {
    display: block;
    outline: none;

  }

.settings-warning {
    margin-top: 30px;
    width: 100%;
    font-size: 18px;
}
.blocked-list {
    display: block;
    height: auto;
    margin: 0;
    color: #0A0F0E;
    padding: 2%;
    height: auto;
    border-radius: 6px;
}

.li-blocked-user{
    margin: 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    font-size: 26px;
    color: #0A0F0E;
    text-decoration: none;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
}

.settings-profile-header {
    padding: 5%;
    font-size: 22px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-row-gap: 20px;
    text-align: left;
}

.settings-profile-avatar {
    border-radius: 50%;
   
    width: 50px;
    height: 50px;

}
.settings-username {
    margin: 0;
    text-align: left;
}

.settings-link {
    color: #B52741;
    font-size: 18px;

}
.textarea-edit-clear {
    background: #fafafa;
    color: #0A0F0E;
    width: 80%;
    resize: none;
    border: none;
    border-bottom: solid 1px #0A0F0E;
    font-size: 16px;
}

.textearea-edit-clear:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

.unblock-user {
    cursor: pointer;
    text-decoration: underline;
    color: #0A0F0E;
    background: #fafafa;
}

.unblock-user:hover {
    color: crimson;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
}
@media (min-width: 600px) {

    .settings-wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 70px;
        font-size: 20px;
        text-align: center;
        color: #0A0F0E;
        align-items: center;

    }
    .settings-grid {
        display: grid;
        grid-template-columns: 35% 65%;
        background: #fafafa;
        height: 500px;
        width: 600px;
        margin: 0 auto;
        border-radius: 6px;

    }
    .settings-buttons {
        display: block;
        border-right: solid 1px silver;
        
    }
    .settings-box {
        width: auto;
        margin-left: 5px;
        margin-right: 10px;
        margin-top: 10px;
        color: #0A0F0E;
        display: grid;
        grid-auto-rows: auto;
        background: #fafafa;
        cursor: pointer;
        height: auto;
        border-radius: 6px;
    }
    .settings-box:hover {
        box-shadow: 0 0 10px rgba(0,0,0,.5);
    }
    .settings-box a {
        color: #0A0F0E;
    }
    .settings-list-wrapper {
        display: block;
    }
    .settings-list-box {
        width: 100%;
        height: 100%;
        color: #0A0F0E;
        background: #fafafa;
        font-size: 24px;
        display: inline-block;
        border-radius: 8px;
        z-index: 10;
    }
    
    .signing-box {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 1.2em;
        display: block;
    }
    
    .basic-link {
        width: auto;
        color: dodgerblue;
        display: inline-block;
        background: none;
        cursor: pointer;
    }
    
    .basic-link:hover {
        color: crimson;
    }
    
    
    .blocked-list {
        display: block;
        height: auto;
        margin: 0;
        color: #0A0F0E;
        padding: 2%;
        height: auto;
        border-radius: 6px;
    }
    
    .li-blocked-user{
        margin: 0;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 1%;
        font-size: 26px;
        color: #0A0F0E;
        text-decoration: none;
        text-align: center;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    .blocked-user {
    
    }
    
    .unblock-user {
        cursor: pointer;
        text-decoration: underline;
        color: #0A0F0E;
        background: #fafafa;
    }
    
    .unblock-user:hover {
        color: crimson;
        box-shadow: 0 0 10px rgba(0,0,0,.5);
    }

    .button-back {
        display: none;
    }
    .settings-header {
        border-bottom: solid 1px silver;
        text-align: center;
    }
    .settings-profile-header {
        padding: 5%;
        font-size: 22px;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-row-gap: 20px;
        text-align: left;
    }
    
    .settings-profile-avatar {
        border-radius: 50%;
       
        width: 50px;
        height: 50px;
    
    }
    .settings-username {
        margin: 0;
        text-align: left;
    }
    
    .settings-link {
        color: #B52741;
        font-size: 18px;
    
    }
    .textarea-edit-clear {
        background: #fafafa;
        color: #0A0F0E;
        width: 80%;
        resize: none;
        border: none;
        border-bottom: solid 1px #0A0F0E;
        font-size: 16px;
    }
    
    .textearea-edit-clear:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0;
    }


.small-text {
    text-align: left;
    font-size: 14px;
    margin: 4px;
}
.settings-input {
    color: #0A0F0E;
    display: block;
    width: 60%;
    background: #fafafa;
    border-color: #fafafa;
    border-bottom: solid 1px #0A0F0E; 
    font-size: 18px;
    text-align: center;
    outline: none;
    margin: 0;
  }
  
  .settings-input:focus {
    border-color: #fafafa;
    border-bottom: solid 1px #0A0F0E; 

  }
  .settings-input:hover .settings-input-content {
    display: block;
    outline: none;

  }
  .settings-input-content:focus {
    border-color: #fafafa;
    outline: none;

  }

  .settings-input-content {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    background: #272727;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    color:#fafafa;
    outline: none;

  }


.settings-footer {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;

}
.settings-submit {
    color: #fafafa;
    margin: 0 auto;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 16px;
    border: solid 1px dodgerblue;
    background: dodgerblue;
    box-shadow: 0 0 10px rgba(0,0,0,.5);

}

.settings-submit:hover {
    background: rgb(16, 104, 192);
    border-radius: 16px;
    border: solid 1px dodgerblue;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.label-minimal {
    margin-top: 10px;
    position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.2s ease all;
    
}

.prompt-minimal {
    float: right;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    font-size: 18px;
    background: #fafafa;
    border: none;
    border-bottom: solid 1px #0A0F0E;
    color: #0A0F0E;
    display: block;
    outline:0;
    padding:0 10px;
}
.label-minimal:hover .label-minimal {
    display: block;
    outline: none;

  }

.settings-warning {
    margin-top: 30px;
    width: 100%;
    font-size: 18px;
}
}
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    bottom: 2px;
    background-color:#fafafa;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
  }
  
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .notifications-settings {
      width: 80%;
      margin-left: 5%;
      margin-right: 5%;
      font-size: 20px;
      text-align: left;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 80% 20%;  
    grid-row-gap: 15px;
  }

  .loading-avatar {
    background: rgba(107, 107, 107, 0.459);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: 1111;
    position: absolute;
    color:#fafafa;

}

.avatar-spin-icon {
    font-size: 50px;
    position: absolute;
    z-index: 10;
    color:#fafafa;
    background: rgba(107, 107, 107, 0.459);
    border-radius: 50%;

}

.form-float {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    background: #fafafa;
}

.input {
    width: 180px;
    height: 32px;
    outline: 0;
    padding: 0 8px;
  }
  .label { 
    position: absolute;
    pointer-events: none;
    left: 16px;
    top: 12px;
    transition: 0.2s ease all;
    color: gray;
  }
  input:focus ~ .label,
  input:not(:focus):valid ~ .label{
    top: 2px;
    left: 10px;
    font-size: 12px;
  }
  
.input-float {
    color: #191716;
    font-size: 17px;
    padding-bottom: 8px;

    display: inline-block;
    position: relative;
    margin: 0 auto;

    border-color: rgb(11, 4, 49);
}

.input-icon i{
    position: absolute;
    right: 9px;
    top: 13px;
    cursor: none;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

input[type="text"] {
    padding: 8px 30px 0 10px;
    top: 16px;
    left: 16px;
    font-size: 16px;
}

input[type="password"] {
    padding: 8px 30px 0 10px;
    top: 16px;
    left: 16px;
    font-size: 16px;
}