
.register-box {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 22px;
    border-radius: 8px;
    background: #1B1725;

}

.warning-text {
    text-align: center;
    width: 100%;
    font-size: 16px;
    display: block;
    color: red;
}

.register-label {
    padding: 1%;
    text-align: center;
    display: grid;
    grid-auto-rows: auto ;
    grid-row-gap: 10%;

}
.register-label-row {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 1%;
    text-align: center;
    display: grid;
    grid-template-columns: 70% 30%;

}
.register-input-small {
    float: right;
    width: 10%;
    font-size: 18px;
    border-radius: 4px;
    border-color: dodgerblue;
}
.register-input {
    float: right;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    font-size: 18px;
    border-radius: 4px;
    border-color: dodgerblue;
}

.warning-input {
    border: solid 2px;
    border-color: rgb(182, 12, 49); 
}

.warning-input:focus {
    box-shadow: 0 0 3pt 2pt rgb(201, 8, 24);
    outline: 0;
}

.button-long {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    font-size: 22px;
    border-radius: 6px;
    border-color: #39B235;
    background: #39B235;
    cursor: pointer;
}

.label-dates {
    display: grid;
    grid-template-columns: 32% 32% 32%;
}
.register-input-small{
    text-align: center;
    width: 90%;
    border-radius: 4px;
    border-color: dodgerblue;
}

.icon-waiting-long {
    background: #262626;
    border-radius: 12px;
    padding: 2%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}


.exsubmit{
    padding: 3%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.2em; 
    background: dodgerblue;
    border: none;
    border-radius: 12px;
    color:#fafafa;
}
